<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  <head>
    {% include components/atoms/head.html 
      title=page.title 
      description=page.description 
    %}
  </head>

<body class="bg-gray-50 min-h-screen flex flex-col">
  <!-- Header -->
  {% include components/organisms/header.html %}

  <!-- Main content -->
  <main class="flex-grow">
        {{ content }}
  </main>

  <!-- Footer -->
  {% include components/organisms/footer.html %}

  <!-- Scripts -->
  <script src="/javascript/main.js"></script>
</body>

</html>
